<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Gradkin</title>
	<link rel="shortcut icon" href="/favicon.png">
	<%#= stylesheet_link_tag "jquery.Jcrop","base", "site", "colorbox", "formtastic", "formtastic_changes", "application" %>
	<%#= yield :additional_stylesheet || "" %>
	<%#= javascript_include_tag "jquery-1.4.1", "jquery-ui", "jquery.delegate.js", "jquery.advance.delegate.js", "jquery.colorbox", "jquery.form", "jscal2", "jquery.Jcrop.min", 'XMLHttpRequest', "jquery.qtip.min" %>

</head>

<body>
	<%= yield %>
</body>


</html>